
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
  background-color: #232536;
  border-bottom: 1px solid silver;
  position: fixed;
  width: 100%;
  position: sticky;
  left: 3px;
  right: 3px;
  top: 10px;
  
  }
  
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: auto;
  }
  
  nav .list {
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    width: 712px;
  }
  
  
  nav .list .list-item a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-out;
  }
  
  nav .list .list-item a:hover {
    color: #fff;
  }
  
  .active-link {
    color: #fff !important;
  }
  
  .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
  
  /*-----------------------------------------------------*/

  main {
    max-width: 1600px;
    height: 100%;
    width: 100%;
  }

  .intro {
    max-width: 1600px;
    height: 100%;
    width: 100%;
  }


  .procsess {
    background-color: #FFE6D2;
    width: 1601px;
    height: 574px;
    top: 80px;
    left: 1px;
    margin: 10px 100px;
  }

  .container{
    padding: 40px 94px;

    
  }


  .our{
    width: 128px;
    height: 20px;
    top: 176px;
    left: 160px;
    color: #232536;
    font-size: 14px;
  }

  .Build {
    width: 622px;
    height: 174px;
    top: 208px;
    left: 160px;
    font-size: 48px;
    color: #232536;
  }

  .Through{
    width: 624px;
    height: 48px;
    top: 406px;
    left: 160px;
    opacity: 0.6px;
    font-size: 16px;
    color: #232536;
    margin-bottom: 19px;
  }

  button{
    font-size: #444CFC;
    width: 231px;
    height: 64px;
    top: 494px;
    left: 160px;
    background-color: #444CFC;

  }

  button:hover{
    background-color: gold;
    color: black;
  }








  /* --------------- PROCESS SECTION START ------------ */

#process {
  width: 100%;
  height: auto;
  padding: 96px 100px;

}

.container_5 {
width: 1280px;
height: 660px;
top: 3717px;
left: 160px;
border: 1px;
margin: 100px 100px;


}

#process .wrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 68px;

  
}

#process .wrapper2 .left2 .proccess_title {
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

#process .wrapper2 .left2 h1 {
  font-size: 39px;
  font-weight: 600;
  color: #232536;
  margin-bottom: 16px;
}

#process .wrapper2 .left2 p {
  color: #232536;
  font-size: 16px;
}

#process .process_wrapper2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}

#process .process_wrapper2 .process_card {
  max-width: 395px;
  border: 1px solid rgba(35, 37, 54, 0.175);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#process .process_wrapper2 .process_card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

#process .process_wrapper2 .process_card .content {
  display: flex;
  padding: 30px 11px 28px 30px;
  column-gap: 16px;
  align-items: flex-start;
}

#process .process_wrapper2 .process_card .content p{
  color:#23253676;
  margin-top: 6px;
}

#process .process_wrapper2 .process_card .content h2{
  color:#23253676;
}

/* --------------- PROCESS SECTION END ------------ */

.process-2 {
  width: 1600px;
  height: 587px;
  top: 4473px;


}

.container_6 {
  background-color:#F9F9FF ;
  padding: 106px;
}

.wrapper_3 {
display: flex;  
justify-content: space-between;
}


.intro-1{
  max-width: 1600px;
  width: 100%;
  height: 100%;
  
}

/*-------------------------------*/

.container-1{
  background-color:rgb(219, 197, 197) ;
  max-width: 1600px;
  width: 100%;
  height: 100%;
  margin: 100px;
}

.texnical {
  display: flex;
  padding:  120px 158px ;
  align-items: center;
}


.box1{
  margin: 100px;
 }
 




/*--------------------------------------------------*/

.container-2{
  background-color:#ECF8F9;
  max-width: 1600px;
  width: 100%;
  height: 100%;
  margin: 100px;
}

.texnical2 {
  display: flex;
  padding:  120px 158px ;
  align-items: center;
}


.box1{
  margin:100px ;
  display: flex;
  gap: 140px;
  margin-top: 90px;
  
   }

/*--------------------------------------------*/


 .container-3{
  background-color:#FFFFFF;
  max-width: 1600px;
  width: 100%;
  height: 100%;
  margin: 100px;
}

.texnical3 {
  display: flex;
  padding:  120px 158px ;
  align-items: center;
}


.box1{
  margin:0 100px;
 }

 /*--------------------------------------------*/

 .container-4{
  background-color:#F9F9FF;
  max-width: 1600px;
  width: 100%;
  height: 100%;
  margin: 100px;
}

.texnical4 {
  display: flex;
  padding:  120px 158px ;
  align-items: center;
}


.box1{
  margin:0 100px;
 }

  /*--------------------------------------------*/
  .container-5{
    background-color:#FFFFFF;
    max-width: 1600px;
    width: 100%;
    height: 100%;
  }
  
  .texnical5 {
    display: flex;
    padding:  120px 158px ;
    align-items: center;
  }
  
  
  .box1{
    margin:0 100px;
   }

     /*--------------------------------------------*/

     * ----------------------------------------- */
.wrapper_3{
  margin: 96px 160px;
}
.wrap_4{
  width: 1256px;
  height: 333px;
  top: 3562px;
  left: 160px;
  background-color: #666DFF;
  color: #fff;
  padding: 96px 98px;
  display: flex;
  
}
.news{
  width: 111px;
  height: 20px;
  top: 3658px;
  left: 258px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  margin-bottom: 14px;
  
}
input{
  width: 454px;
  height: 64px;
  top: 3703px;
  left: 866px;
  margin: 42px 140px;
}
     /* ------------------------------------------ */
.wrapper_4{
  padding: 162px;
}
.wrap_5{
  display: flex;
 gap: 204px;
}
.wrap_left{
  width: 452px;
  height: 416px;
  top: 3991px;
  left: 162px;
  border: 1px;
}
.make{
  width: 452px;
  height: 116px;
  top: 4057px;
  left: 162px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
  
  
}
.wrap_right{
  display: flex;
  gap: 91px;
}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  width: 71.11px;
  height: 28px;
  top: 4071px;
  left: 818px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #232536;
}
ul li a:hover{
  color: #008000;
}
.icons{
  width: 1400px;
  height: 80px;
  top: 0px;
  left: 1600px;
  background-color: #FFE6D2;
  padding: 28px 6px;
  display: flex;
  justify-content: space-between;
  
}
.icon_1{
  display: flex;
  text-align: center;
  gap: 20px;
}
.finsvet{
  width: 122px;
  height: 24px;
  top: 30.52px;
  left: 322px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
    
}
.icon_2{
  width: 144px;
  height: 16px;
  top: 32.52px;
  left: 1296px;
  font-size: 11px;
  
}
.icone{
  margin-right: 20px;
  transition: 2s;
}
.icone:hover{
  transform: scale(1.9);
  z-index: 5px;
}



 
